/* mono/color v1.1 (https://github.com/asvvvad/mono-color)
   by asvvvad (https://asvvvad.eu.org) under the MIT license*/
:root {
    font-size: 62.5%;
    --fg: #aaa; /* forground color */
    --h: #efefef; /* headers color */
    --bg: #000; /* background color */
    --b: #333; /* border color */
    --p: #eee; /* primary color */
    --def: #121212;  /* default color */
}