/* mono/color v1.1 (https://github.com/asvvvad/mono-color)
   by asvvvad (https://asvvvad.eu.org) under the MIT license*/
:root {
    font-size: 62.5%;
    --fg: #555; /* forground color */
    --h: #444; /* headers color */
    --bg: #fefefe; /* background color */
    --b: #ccc; /* border color */
    --p: #000; /* primary color */
    --def: #eee; /* default color */
}